* {
    margin: 0;
    padding: 0;
}

body {
    font: 13px Helvetica, Arial;
    background-color: #323542;
}

p {
    font-size: 1rem;
    padding: 0 0 1rem 0;
}

.main-container {
    display: flex;
    flex-direction: row;
}

/* Home Page */
.homepage-header {
    background-color: #464c57;
}

.homepage-header h1 {
    padding: 0.5rem;
}

.homepage-header h1 img {
    height: 4rem;
}

.homepage-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 2rem;
    border-radius: 0.5rem;
    height: 300px;
    width: 480px;
    background-color: #464c57;
}

.homepage-box h3 {
    font-size: 2rem;
    color: #fff;
}

.homepage-box-header {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 96%;
}

.homepage-links {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1rem;
}

.homepage-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0.8rem 0 1rem 0;
}

.homepage-form input{
    align-self: center;
    color: #fff;
    outline: none;
    width: 100%;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #1d1f25;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.homepage-form button {
    align-self: center;
    margin-top: 1.2rem;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0 0.5rem;
    padding: 0.5rem;
    background-color: #16161f;
}

.header-logo img{
    width: 240px;
}

.header-user {
    display: flex;
    flex-direction: row;
}

.header-user button{
    align-self: center;
}

/* Chat */
.chat-main {
    height: 740px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    background: #16161f;
    margin: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.chat-messages {
    overflow: auto;
    background-color: #16161f;
    margin-bottom: 0.5rem;
}

.chat-submition {
    background-color: #1d1f25;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    width: 98%;
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
}

.chat-submition-form {
    display: flex;
    width: 100%;
}

.chat-submition-form input {
    display: flex;
    width: 100%;
    align-self: center;
    color: #fff;
    outline: none;
    font-size: 1.2rem;
    border: none;
    border-bottom: solid 1px #323542;
    background-color: #1d1f25;
    margin: 0.5rem;
}

/* messages */
.message {
    border-bottom: solid 1px #323542;
    margin: 1rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.message-left {
    padding: 0.5rem;
}

.message-left img {
    border-radius: 100%;
    width: 40px;
    height: 40px; 
}

.message-right {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.message-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 0.5rem;
}

.message-username { 
    align-self: flex-end;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.message-time {
    align-self: flex-end;
    color: #9e9e9e;
}

.message-content {
    font-size: 0.9rem;
    line-height: 1.25rem;
}

/* User */
.user-list {
    height: 740px;
    overflow: auto;
    background-color: #16161f;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-right: 0;
    border-radius: 0.5rem;
    min-width: 200px;
}

.user {
    display: flex;
    align-content: center;
    margin: 1rem;
}

.user img {
    margin: auto 0;
    border-radius: 100%;
    width: 40px;
    height: 40px; 
}

.user span {
    color: #fff;
    display: flex;
    align-self: center;
    margin-left: 0.5rem;
    font-size: 1rem;
    font-size: 600;
}

/* Footer */
.footer-container {
    background-color: #16161f;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
}


/* Utility */
.link-icon {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.alert-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 4.5rem;
}

.btn {
    background-color: #323542;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    width: 300px;
    height: auto;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    margin: 0.2rem;
    border: none;
}

.btn-sm {
    font-size: 1rem;
    width: 100px;
    height: 2rem;
    padding: 0.5rem;
}

.btn:hover {
    background-color: #3b3b49;
    color: #f0f0f0;
}

.btn:active {
    background-color: #16161f;
    color: #c7c7c7;
}

.alert-box {
    display: flex;
    align-self: center;
    justify-self: center;
    border-radius: 0.2rem;
    padding: 1rem;
    background-color: rgb(216, 25, 25);
    color: #eee;
}